<div class="container bg-dark" style="height:50px;padding-top:10px;margin-bottom:20px">
  <H3 style="color:white;"><center>ADMIN LOGIN</center></H3>

</div>
<form method="post" action="/su">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" name="email" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" name="passowrd" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

 

    
 

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">LOG IN</button>

 
  
</form>